@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--font-header: "Exo 2";
	--font-default: "Exo 2";

	/* usr Defined Colors */

	/* Amoled Colors */
	--col-amoled-black: #000000;
	--col-amoled-black-alt: #0d0d0d;
	--col-amoled-white: #ffffff;
	--col-amoled-green-bg: #001913;
	--col-amoled-green-alt: #007e5d;
	--col-amoled-green-bg-alt: #061310;

	/* neon colors */
	--col-neon-cyan: #00fcff;
	--col-neon-cyan-alt: #93ffff;
	--col-neon-pink: #ff23ff;
	--col-neon-pink-alt: #ff83ff;
	--col-neon-blue: #0000ac;
	--col-neon-white: #fafafa;

	/* Background Colors */
	--col-background-dark-primary: var(--col-amoled-black);
	--col-background-dark-secondary: var(--col-amoled-black);
	--col-background-light-primary: #fafafa;
	--col-background-light-secondary: #fafafa;

	/* Text Formatting Colors */
	--col-bold: var(--col-amoled-white);
	--col-italic: var(--col-amoled-white);
	--col-highlighted-bg: var(--col-amoled-white);
	--col-muted: #009770;
	--col-text-normal: #00e2a8;
	--col-text-selection: #b0daf5;
	--col-faint: #b0daf5;
	--col-accent: var(--col-amoled-white);
	--col-accent-hover: var(--col-neon-cyan-alt);
	--col-hashtag: #00c995;

	/* TITLE */
	--title-weight: 600;
}

body {
	font-weight: 400;
	letter-spacing: 0.05em;

	/* LINE */
	--file-line-width: 1000px;

	/* CODE */
	--code-background: #010a0a;
	--code-normal: var(--col-amoled-white);
	--code-comment: gray;
	--code-function: #ff334b;
	--code-important: gray;
	--code-keyword: orange;
	--code-operator: #b8d65c;
	--code-property: var(--text-normal);
	--code-punctuation: #ffb800;
	--code-string: #33cc66;
	--code-tag: orange;
	--code-value: #1c62ff;

	/* TABLE */
	--table-header-color: var(--col-usr-barbie-pink);
	--table-header-weight: 900;
	--table-text-color: var(--col-usr-green);

	/* BLOCKQUOTE */
	--blockquote-background-color: var(--col-amoled-green-bg-alt);
	--blockquote-border-thickness: 3px;
	--blockquote-border-color: var(--col-amoled-white);
	--blockquote-font-style: italic;
	--blockquote-color: var(--col-amoled-white);

	/* CALLOUT */
	--callout-border-width: 2px;
	--callout-border-opacity: 90%;
	--callout-radius: 10px;
	--callout-title-padding: 10px;
	--callout-title-size: 1.25em;
	--callout-title-weight: 600;
	--callout-content-padding: 10px;

	/* RIBBON */
	--ribbon-padding: 10px;
	--ribbon-background: var(--col-background-dark-primary);
	--ribbon-background-collapsed: var(--col-background-dark-primary);
	--ribbon-width: 50px;

	--metadata-label-text-color: var(--col-amoled-white:);

	/* tag */
	--tag-color: var(--col-amoled-white);
	--tag-background: var(--col-background-dark-primary);
}

.theme-dark {
	--font-text-size: 24px;
	--font-ui-size: 24px;

	--background-primary: var(--col-background-dark-primary);
	--background-secondary: var(--col-background-dark-secondary);

	/* TITLES */
	--h1-color: var(--col-neon-white);
	--h1-font: var(--font-header);
	--h1-size: 2.5em;
	--h1-weight: var(--title-weight);
	--h2-color: var(--col-neon-white);
	--h2-font: var(--font-header);
	--h2-size: 2.25em;
	--h2-weight: var(--title-weight);
	--h3-color: var(--col-neon-white);
	--h3-font: var(--font-header);
	--h3-size: 2em;
	--h3-weight: var(--title-weight);
	--h4-color: var(--col-neon-white);
	--h4-font: var(--font-header);
	--h4-size: 1.75em;
	--h4-weight: var(--title-weight);
	--h5-color: var(--col-neon-white);
	--h5-font: var(--font-header);
	--h5-size: 1.5em;
	--h5-weight: var(--title-weight);
	--h6-color: var(--col-neon-white);
	--h6-font: var(--font-header);
	--h6-size: 1.25em;
	--h6-weight: var(--title-weight);

	/* TEXT */
	--bold-color: var(--col-amoled-white);
	--italic-color: var(--col-amoled-white);

	--text-normal: var(--col-text-normal);
	--text-selection: var(--col-amoled-green-bg-alt);
	--text-highlight-bg: var(--col-amoled-green-bg);
	--text-muted: var(--col-amoled-green-alt);
	--text-accent: var(--col-amoled-white);
	--text-accent-hover: var(--col-amoled-green-bg-alt);
	--text-on-accent: var(--col-amoled-green-bg-alt);
	--text-faint: var(--col-amoled-green-alt);

	/* status-bar */
	--status-bar-background: var(--col-amoled-black);

	--titlebar-background: var(--col-amoled-black);

	/* NAV ITEM STANDART */
	--nav-item-size: 100%;
	--nav-item-color: var(--col-text-normal);

	/* NAV ITEM HOVER  */
	--nav-item-color-hover: var(--col-amoled-white);
	--nav-item-background-hover: var(--col-amoled-green-bg);

	/* NAV ITEM SELECTED */
	--nav-item-background-selected: var(--col-amoled-green-bg-alt);
	--nav-item-color-selected: var(--col-amoled-green-bg-alt);

	/* Nav item active */
	--nav-item-background-active: var(--col-amoled-green-bg-alt);
	--nav-item-color-active: var(--col-amoled-white);

	/* LINK */
	--link-color: var(--col-amoled-white);
	--link-external-color: var(--col-amoled-white);

	/* PARAGRAPH SPACING */
	--p-spacing: 0.5em;
	--heading-spacing: 0.5em;

	/* FONT - CSS variables */
	--font-interface-theme: "Exo 2";
	--font-text-theme: "Exo 2";
	--font-monospace-theme: "Exo 2";

	--color-accent: var(--col-amoled-white);
	--checklist-done-color: var(--col-amoled-green-bg);

	--table-header-background: var(--col-amoled-green-bg-alt);
	--table-header-color: var(--col-amoled-white);
}

.callout-content {
	color: var(--col-amoled-white);
  }
