/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	/* Font Families */
	--font-header: "Oswald";
	--font-default: "Oswald";

	/* Font Sizes */
	--font-size-normal: 18px;
	--font-ui-medium: 15px;
	--font-ui-large: 20px;

	/* Font Weights */
	--font-thin: 100;
	--font-extralight: 200;
	--font-light: 300;
	--font-normal: 400;
	--font-medium: 500;
	--font-semibold: 600;
	--font-bold: 700;
	--font-extrabold: 800;
	--font-black: 900;

	/* Title Colors */
	--col-h1-title: #ccfd54;
	--col-h2-title: #ed0282;
	--col-h3-title: #07d8df;
	--col-h4-title: #25aae2;
	--col-h5-title: #85f354;
	--col-h6-title: #2c1984;

	/* Text Formatting Colors */
	--col-bold: #ff0012;
	--col-italic: #3de2aa;
	--col-highlighted-bg: #800000;
	--col-muted: #d9d9d9;
	--col-text-normal: #c3e869;
	--col-text-selection: #3c03c9;
	--col-faint: #a6a6a6;
	--col-accent: #ff2301;
	--col-accent-hover: #ff2310;
	--col-on-accent: #0a0a0a;

	/* Background Colors */
	--col-bg-dark-primary: #04060b;
	--col-bg-dark-secondary: #04060b;
	--col-bg-light-primary: #fafafa;
	--col-bg-light-secondary: #fafafa;

	/* Commonly Used Colors */
	--col-white: #ffffff;
	--col-glow-pink: #f80e85;
	--col-glow-blue: #99ffff;
	--col-glow-teal: #006666;
	--col-glow-dark-teal: #003333;
	--col-glow-purple: #4200ff;
	--col-glow-dark-purple: #210080;
	--col-glow-light-green: #33cc66;
	--col-glow-background: #49308f;

	/* Hashtag Colors */
	--col-hashtag: var(--col-white);
}

body {
	font-family: var(--font-default);
	font-weight: var(--font-normal);
	font-size: 24px;
	line-height: 3.1em;
	letter-spacing: 0.05em;
	text-shadow: 0 0 0 2px var(--col-white), 0 0 0 4px var(--col-h1-title), 0 0 0 8px #a5db22;
}

.theme-dark {
	/* Background Colors */
	--background-primary: var(--col-bg-dark-primary);
	--background-secondary: var(--col-bg-dark-secondary);

	/* Title Weights */
	--h1-weight: var(--font-black);
	--h2-weight: var(--font-black);
	--h3-weight: var(--font-black);
	--h4-weight: var(--font-black);
	--h5-weight: var(--font-black);
	--h6-weight: var(--font-black);

	/* Title Sizes */
	--h1-size: 2.5em;
	--h2-size: 2.25em;
	--h3-size: 2em;
	--h4-size: 1.75em;
	--h5-size: 1.5em;
	--h6-size: 1.25em;

	/* Font Types for Titles */
	--h1-font: var(--font-header);
	--h2-font: var(--font-header);
	--h3-font: var(--font-header);
	--h4-font: var(--font-header);
	--h5-font: var(--font-header);
	--h6-font: var(--font-header);

	/* Text Formatting */
	--bold-color: var(--col-bold);
	--italic-color: var(--col-italic);
	--text-normal: var(--col-text-normal);
	--text-selection: var(--col-text-selection);
	--text-highlight-bg: var(--col-highlighted-bg);
	--text-muted: var(--col-muted);
	--text-accent: var(--col-accent);
	--text-accent-hover: var(--col-accent-hover);
	--text-on-accent: var(--col-on-accent);
	--text-faint: var(--col-faint);

	/* Nav Item Options */
	--nav-item-size: 1.15em;
	--nav-item-color: #cac958;
	--nav-item-color-hover: #00dee3;
	--nav-item-background-hover: #050505;
	--nav-item-background-selected: #f8f60e;
	--nav-item-color-selected: #f32de5;
}

.theme-light {
	--background-primary: var(--col-bg-light-primary);
	--background-secondary: var(--col-bg-light-secondary);
}

.cm-hashtag {
	color: var(--col-hashtag);
	font-weight: var(--font-black);
	font-size: 0.85em;
	padding: 2px 1px;
	text-shadow: 0 0 5px var(--col-glow-pink), 0 0 10px var(--col-glow-pink), 0 0 15px var(--col-glow-pink), 0 0 20px #ff00ff;
	transition: font-size 0.3s ease, transform 0.3s ease;
}

.cm-hashtag:hover {
	font-size: 1em;
	transform: scale(1.1);
}

.metadata-property:hover {
	font-size: 1.1em;
	font-weight: var(--font-black);
}

.cm-em {
	color: #ddffaa;
	/* Italic text color */
}

.cm-strong {
	color: #fffa12;
	/* Bold text color */
}

.cm-list-1,
.cm-list-2,
.cm-list-3 {
	color: var(--col-white);
	text-shadow: 0 0 1px var(--col-white), 0 0 2px var(--col-glow-blue), 0 0 4px var(--col-glow-teal), 0 0 8px var(--col-glow-dark-teal);
	letter-spacing: 0.05em;
}

.cm-header {
	color: var(--col-white);
	text-shadow: 0 0 1px var(--col-white), 0 0 5px var(--col-glow-purple), 0 0 10px var(--col-glow-dark-purple), 0 0 20px var(--col-glow-background);
}

.list-number {
	color: #0dff00;
}

.cm-inline-code {
	color: var(--col-glow-light-green);
}

.HyperMD-codeblock,
.HyperMD-codeblock-begin,
.HyperMD-codeblock-begin-bg,
.HyperMD-codeblock-bg {
	background-color: var(--col-white);
	color: var(--col-white);
}

.multi-select-pill {
	color: var(--col-white);
	padding: 2px;
}
